FynbusProjekt/ExcelReader/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27169/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27169/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:27169/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBidinfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBidinfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBidinfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBidinfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContactInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContactInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDocumentation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDocumentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipment" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExpandedBifInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpandedBifInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExpandedBifInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpandedBifInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPriceList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPriceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBidInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBidInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBidInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBidInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateContactInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateContactInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDocumentation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentation" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDocumentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEquipment" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateExpandedBifInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpandedBifInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateExpandedBifInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpandedBifInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePricelist_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePricelist" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePricelist_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePricelistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBidInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBidInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBidInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBidInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_importExcel_InputMessage">
    <wsdl:part name="parameters" element="tns:importExcel" />
  </wsdl:message>
  <wsdl:message name="IService1_importExcel_OutputMessage">
    <wsdl:part name="parameters" element="tns:importExcelResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetName" message="tns:IService1_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNameResponse" message="tns:IService1_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBidinfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBidinfo" message="tns:IService1_GetBidinfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBidinfoResponse" message="tns:IService1_GetBidinfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetContactInfo" message="tns:IService1_GetContactInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetContactInfoResponse" message="tns:IService1_GetContactInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDocumentation" message="tns:IService1_GetDocumentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDocumentationResponse" message="tns:IService1_GetDocumentation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEquipment" message="tns:IService1_GetEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEquipmentResponse" message="tns:IService1_GetEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpandedBifInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExpandedBifInfo" message="tns:IService1_GetExpandedBifInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExpandedBifInfoResponse" message="tns:IService1_GetExpandedBifInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPriceList" message="tns:IService1_GetPriceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPriceListResponse" message="tns:IService1_GetPriceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBidInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateBidInfo" message="tns:IService1_CreateBidInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateBidInfoResponse" message="tns:IService1_CreateBidInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContactInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateContactInfo" message="tns:IService1_UpdateContactInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateContactInfoResponse" message="tns:IService1_UpdateContactInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateDocumentation" message="tns:IService1_UpdateDocumentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateDocumentationResponse" message="tns:IService1_UpdateDocumentation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateEquipment" message="tns:IService1_UpdateEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateEquipmentResponse" message="tns:IService1_UpdateEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExpandedBifInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateExpandedBifInfo" message="tns:IService1_UpdateExpandedBifInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateExpandedBifInfoResponse" message="tns:IService1_UpdateExpandedBifInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePricelist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePricelist" message="tns:IService1_UpdatePricelist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePricelistResponse" message="tns:IService1_UpdatePricelist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBidInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateBidInfo" message="tns:IService1_UpdateBidInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateBidInfoResponse" message="tns:IService1_UpdateBidInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="importExcel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/importExcel" message="tns:IService1_importExcel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/importExcelResponse" message="tns:IService1_importExcel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBidinfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBidinfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetContactInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentation">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDocumentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipment">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpandedBifInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetExpandedBifInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPriceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBidInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateBidInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateContactInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentation">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateDocumentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEquipment">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExpandedBifInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateExpandedBifInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePricelist">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePricelist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBidInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateBidInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importExcel">
      <soap:operation soapAction="http://tempuri.org/IService1/importExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:27169/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>