FynbusProjekt/Web/Service References/APIService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27169/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27169/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:27169/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBidinfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBidinfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBidinfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBidinfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContactInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContactInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDocumentation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDocumentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipment" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExpandedBifInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpandedBifInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExpandedBifInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpandedBifInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPriceList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPriceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBidInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBidInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBidInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBidInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateContactInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContactInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateContactInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContactInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateDocumentation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentation" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateDocumentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEquipment" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateExpandedBifInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateExpandedBifInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateExpandedBifInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateExpandedBifInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePriceList_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePriceList" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePriceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePriceListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBidInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBidInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBidInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBidInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetName" message="tns:IService1_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNameResponse" message="tns:IService1_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBidinfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBidinfo" message="tns:IService1_GetBidinfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBidinfoResponse" message="tns:IService1_GetBidinfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetContactInfo" message="tns:IService1_GetContactInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetContactInfoResponse" message="tns:IService1_GetContactInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDocumentation" message="tns:IService1_GetDocumentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDocumentationResponse" message="tns:IService1_GetDocumentation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEquipment" message="tns:IService1_GetEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEquipmentResponse" message="tns:IService1_GetEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpandedBifInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExpandedBifInfo" message="tns:IService1_GetExpandedBifInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExpandedBifInfoResponse" message="tns:IService1_GetExpandedBifInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPriceList" message="tns:IService1_GetPriceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPriceListResponse" message="tns:IService1_GetPriceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBidInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateBidInfo" message="tns:IService1_CreateBidInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateBidInfoResponse" message="tns:IService1_CreateBidInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateContactInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateContactInfo" message="tns:IService1_CreateContactInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateContactInfoResponse" message="tns:IService1_CreateContactInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateDocumentation" message="tns:IService1_CreateDocumentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateDocumentationResponse" message="tns:IService1_CreateDocumentation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateEquipment" message="tns:IService1_CreateEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateEquipmentResponse" message="tns:IService1_CreateEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateExpandedBifInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateExpandedBifInfo" message="tns:IService1_CreateExpandedBifInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateExpandedBifInfoResponse" message="tns:IService1_CreateExpandedBifInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePriceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreatePriceList" message="tns:IService1_CreatePriceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreatePriceListResponse" message="tns:IService1_CreatePriceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBidInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateBidInfo" message="tns:IService1_UpdateBidInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateBidInfoResponse" message="tns:IService1_UpdateBidInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBidinfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBidinfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetContactInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentation">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDocumentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipment">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpandedBifInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetExpandedBifInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPriceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBidInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateBidInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContactInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateContactInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentation">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateDocumentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEquipment">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateExpandedBifInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateExpandedBifInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePriceList">
      <soap:operation soapAction="http://tempuri.org/IService1/CreatePriceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBidInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateBidInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:27169/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>