FynbusProjekt/Web/Service References/APIService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BidInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BidderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CVR" type="xs:int" />
      <xs:element minOccurs="0" name="ContactInfo" nillable="true" type="tns:ContactInfo" />
      <xs:element minOccurs="0" name="Documentation" nillable="true" type="tns:Documentation" />
      <xs:element minOccurs="0" name="Equipment" nillable="true" type="tns:Equipment" />
      <xs:element minOccurs="0" name="ExpandedBidInfo" nillable="true" type="tns:ExpandedBidInfo" />
      <xs:element minOccurs="0" name="LastEdit" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OfferNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PriceList" nillable="true" type="tns:PriceList" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BidInfo" nillable="true" type="tns:BidInfo" />
  <xs:complexType name="ContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BidInfo" nillable="true" type="tns:BidInfo" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kommune" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postnummer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Vejnavn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vejnummer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactInfo" nillable="true" type="tns:ContactInfo" />
  <xs:complexType name="Documentation">
    <xs:sequence>
      <xs:element minOccurs="0" name="BidInfo" nillable="true" type="tns:BidInfo" />
      <xs:element minOccurs="0" name="DatoForRegistrering" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DokumentationsInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KlarTilDrift_id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RegistreringsNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tilladelse_Gyldig" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tilladelse_Nummer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tilladelse_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrafikSelskab" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UdstedendeMyndighed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documentation" nillable="true" type="tns:Documentation" />
  <xs:complexType name="Equipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barnestol_0_13kg" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Barnestol_15_36kg" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Barnestol_9_18kg" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Barnestol_9_36kg" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Barnestol_Integreret" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="BidInfo" nillable="true" type="tns:BidInfo" />
      <xs:element minOccurs="0" name="TrappeMaskine_120" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TrappeMaskine_160" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Equipment" nillable="true" type="tns:Equipment" />
  <xs:complexType name="ExpandedBidInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BidInfo" nillable="true" type="tns:BidInfo" />
      <xs:element minOccurs="0" name="GarantiVognNummer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RegSerieNummer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SecondaryOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonNummer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VognType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VognloebsNummer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpandedBidInfo" nillable="true" type="tns:ExpandedBidInfo" />
  <xs:complexType name="PriceList">
    <xs:sequence>
      <xs:element minOccurs="0" name="BidInfo" nillable="true" type="tns:BidInfo" />
      <xs:element minOccurs="0" name="HverdagAftenNatKoersel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HverdagAftenNatOpstartsGebyr" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HverdagAftenNatVentetid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HverdageKoersel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HverdageOpstartsGebyr" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HverdageVenteTid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrisPerLoeft_Trappemaskine" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WeekendHelligdagKoersel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WeekendHelligdagOpstartsGebyr" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WeekendHelligdagVentetid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="YderligInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceList" nillable="true" type="tns:PriceList" />
</xs:schema>